@import '../styles/variables.scss';

.po-wrapper {
  background-color: $background;
  
  ::ng-deep .po-toolbar {
    background-color: $background;
    border-bottom: 1px solid $gray-primary;
  }
    
  ::ng-deep .po-menu {
    background-color: $background;
    border: none;
    border-radius: 0;
    border-right: 1px solid $gray-primary;

    .po-menu-item {
      &:hover {
        background: $secondary-color;
      }

      &:focus {
        color: $primary-color;
      }
    }
  }
  
  ::ng-deep .po-page {
    background-color: $background;
    color: $text-color;

    h1 {
      color: $primary-color;
    }
  }
}
